.profile-card {
    background-color: var(--color-medium-grey);
    width: 24rem;
    height: 38.25rem;
    border-radius: 0.8125rem;
    padding: 2.5rem;
    margin-block-start: auto;
}

.profile-picture {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 1.5625rem;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-block-end: 0.5rem;
}

.profile-location {
    color: var(--color-green);
    font-size: 0.875rem;
    font-weight: 700;
    margin-block-end: 1.75rem;
}

.profile-bio {
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
    margin-block-end: 1.5625rem;
}


.social-links-list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.social-button {
    display: block;
    background-color: var(--color-light-grey);
    color: var(--color-white);
    padding: 0.875rem;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--color-green);
    color: var(--color-dark-text);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-block-end: auto;
}

.attribution a {
    color: var(--color-link-footer);
}